{% extends 'base.html.twig' %}

{% block title %}Willkommen to ze categoriz!
{% endblock %}

{% block navbar %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="d-flex bg-success-subtle p-5">
		<h1 class="px-4">Catégories</h1>
		<ul>
			{# {{dump(categories)}} #}
			{% for category in categories %}
				{# {{dump(category)}} #}
				<li>
					Nom :
					<a href="{{ path('category_item', { id: category.id }) }}">{{ category.name|capitalize }}</a>
					-
					{{category.articles|length}}
					articles dans cette catégorie.
				{# différentes méthodes possibles : #}
					{# {{category.articles.count()}} #}
					{# {{category.articles.count}} #}

				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
