{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}

	<div class="bg-success-subtle p-5">
		<button type="button" class="btn btn-outline-info ">
			<a class="text-dark text-decoration-none" href="{{ path('category_item', { id: article.category.id }) }}">Revenir à {{ article.category.name|capitalize }}</a>
		</button>
		<h1 class="ms-5">{{ article.title }}</h1>
		<h3 class="ms-5">{{ article.category.name|capitalize }}</h3>
        <h6 class="ms-5">Rédigé le : {{ article.dateCreated|date('d-m-Y') }}</h6>
		<p class="w-75 mx-auto">{{ article.content }}</p>
	</div>
{% endblock %}
